{#
This file is part of joluizquierdo/github-action-rust-template.
Copyright (C) 2025 joluizquierdo
Licensed under the GNU GPL v3. See LICENSE file in root directory.
#}
name: "{{ action_name }}"
description: "{{ description }}"
author: "{{ author }}"
inputs:
{% for input in inputs %}
  {{ input.name }}:
    description: "{{ input.description }}"
    required: {{ input.required | lower }}
{% if input.default is defined %}
    default: "{{ input.default }}"
{% endif %}
{% endfor %}
outputs:
{% for output in outputs %}
  {{ output.name }}:
    description: "{{ output.description }}"
    value: "{{ output.value }}"
{% endfor %}
runs:
  using: "composite"
  steps:
    - name: "hello world"
      shell: bash
      run: echo "Hello, world!"
