{#
This file is part of joluizquierdo/github-action-rust-template.
Copyright (C) 2025 joluizquierdo
Licensed under the GNU GPL v3. See LICENSE file in root directory.
#}
# {{ action_name }}

{{ description }}

## Usage



